.lct-highlights__slide {
  aspect-ratio: 1 / 1.25;
  width: 100%;
  margin-right:20px;
}

.lct-highlights__slide > .lct-inner {
  height: 100%;
}

/* section.lct-highlight-slides {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
} */

.lct-highlight-slide_text-wrapper {
  background: rgba(255, 255, 255, .85);
}

summary {
  /* overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  display: -webkit-box; */
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .lct-highlights__slide {
    width: 50%;
  }
}

@media (min-width: 1023px) {
  .lct-highlights__slide {
    width: 33.3%;
  }
}