
@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Regular.woff2') format('woff2'),
      url('./fonts/Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Medium.woff2') format('woff2'),
      url('./fonts/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('Poppins-Bold.woff2') format('woff2'),
      url('Poppins-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: calc(var(--lct-html-scale) / 2);
}

body {
  font-size:var(--lct-font-size-body);
  font-family: var(--lct-font-family);
  font-weight: 400;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, span, a, .lct-main-heading {
  line-height: 1;
}

h1, .lct-main-heading {
  font-size: calc(var(--lct-font-size-body) * 3.2);
}

figure {
  margin: 0;
}

.lct-section {
  padding: 5% 0;
}

@media (min-width: 600px) {
  html {
    font-size: calc(var(--lct-html-scale) / 1.4);
  }
}

@media (min-width: 768px) {
  html {
    font-size: var(--lct-html-scale);
  }
}

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1400px;
  }
}
